<p-tabView>
    <p-tabPanel header="Latest">
        <div class="p-grid">
            <div class="p-col-2" style="margin-top: 0.3rem;">
                <label for="stationIds">Station ID(s):</label>
            </div>
            <div class="p-col-10">
                <p-autoComplete id="stationIds" [(ngModel)]="stationIds" [suggestions]="stationIdResults"
                    (completeMethod)="searchStationIds($event)" [multiple]="true"></p-autoComplete>
            </div>
            <div class="p-col-2" style="margin-top: 0.3rem;">
                <label for="numberOfObersvations"># Observations:</label>
            </div>
            <div class="p-col-10">
                <input type="text" pInputText id="numberOfObersvations" [(ngModel)]="numberOfObersvations" />
            </div>
            <div class="p-col-1">
                <button pButton type="button" icon="pi pi-plus" (click)="getMetars()" label="Get"></button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Date Range">
        <div class="p-grid">
            <div class="p-col-1" style="margin-top: 0.3rem;">
                <label for="stationIds">Station ID(s):</label>
            </div>
            <div class="p-col-11">
                <p-autoComplete id="stationIds" [(ngModel)]="stationIds" [suggestions]="stationIdResults"
                    (completeMethod)="searchStationIds($event)" [multiple]="true"></p-autoComplete>
            </div>
            <div class="p-col-1" style="margin-top: 0.3rem;">
                <label for="fromObservationTime">From date:</label>
            </div>
            <div class="p-col-3">
                <p-calendar [(ngModel)]="fromObservationTime" name="fromObservationTime" id="fromObservationTime"
                    #fromObservationTimeField="ngModel" [monthNavigator]="true" showButtonBar="true"
                    [yearNavigator]="true" yearRange="2000:2050" [dateFormat]="'yy-mm-dd'" [showIcon]="true"
                    [readonlyInput]="true" [showOnFocus]="false">
                </p-calendar>
            </div>
            <div class="p-col-1" style="margin-top: 0.3rem;">
                <label for="toObservationTime">To date:</label>
            </div>
            <div class="p-col-7">
                <p-calendar [(ngModel)]="toObservationTime" name="toObservationTime" id="toObservationTime"
                    #fromObservationTimeField="ngModel" [monthNavigator]="true" showButtonBar="true"
                    [yearNavigator]="true" yearRange="2000:2050" [dateFormat]="'yy-mm-dd'" [showIcon]="true"
                    [readonlyInput]="true" [showOnFocus]="false">
                </p-calendar>
            </div>
            <div class="p-col-1">
                <button pButton type="button" icon="pi pi-plus" (click)="getMetars()" label="Get"></button>
            </div>
        </div>

    </p-tabPanel>
</p-tabView>
<div style="margin-top: 3rem;">
    <p-table [value]="metarArray" autoLayout="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Station</th>
                <th>Observation</th>
                <th>Metar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-metar>
            <tr>
                <td>{{ metar.stationId }}</td>
                <td>{{ metar.observationTime | date:"dd/MM/yyyy HH:mm" }}</td>
                <td>{{ metar.rawText }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- </div> -->